<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TraceWizard.TwApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TraceWizard.TwApp.Properties.Settings>
            <setting name="GraphBackgroundColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GraphVerticalGuidelineColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="GraphRulerColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ShowDetailedEventToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSpeechRecognition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Classifier" serializeAs="String">
                <value>J48 Classifier</value>
            </setting>
            <setting name="MinutesBetweenBackgroundSaves" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinutesToStartFirstCycle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DirectoryLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="DirectoryAnalysis" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUnusedFixtures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSimilarCountInEventToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="ShowDiagnosticEventToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVerticalGuideline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowViewTimeFrame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTraceTimeFrame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimeFrameAboveGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphHorizontalGuidelineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SelectionTickColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowHorizontalGuideline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSelectionRulerByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSelectionRulerAboveGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSelectedEventPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSummaryPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLogPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowReportsPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommandPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGraphToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPieChartsPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalysisPanelBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ShowGraphToolBarAboveGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewportSeconds" serializeAs="String">
                <value>2 hours</value>
            </setting>
            <setting name="ShowEventToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFixturesInGraphToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleLineGraphToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFixturesRulerByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFixturesRulerAboveGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectFirstEvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindMode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="ManualClassificationMode" serializeAs="String">
                <value>Without Adoption</value>
            </setting>
            <setting name="CycleCommandActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCurrentEventPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEventPanelsOnLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClassificationRulerAboveGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowApprovalRulerAboveGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowApprovalRulerByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClassificationRulerByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowClassifyFirstCyclesUsingMachineLearningButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassificationActionMode" serializeAs="String">
                <value>Selected</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </TraceWizard.TwApp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
